@using Sistema;
@if(Context.Session.GetString("rol") == "admin")
{
    <p><a href="/Usuarios/VisualizarMiembrosOrdenados">Ordenar por Apellido y Nombre</a></p>
}
@foreach (Miembro m in ViewBag.Usuarios)
{
    <p>@m.ToString()</p>
    if(Context.Session.GetString("rol") == "admin")
    {
        if (m.Bloqueado)
        {
            <p><a href="/Usuarios/Desbloquear?email=@m.Email">Desbloquear</a></p>
        }
        else
        {
            <p><a href="/Usuarios/Bloquear?email=@m.Email">Bloquear</a></p>
        }
    }
    <p><a href="/Usuarios/Perfil?correo=@m.Email">Ver Perfil</a></p>
}
