
@{
}
<h1>Login</h1>

<form method="post">
    <label for="email">Ingresé su email:</label>
    <input type="email" name="email" id="email" required/>
    <label for="password">Ingresé su contraseña:</label>
    <input type="password" name="password" id="password" required/>
    <input type="submit" value="login" />
</form>
<p class="alert-danger">@ViewBag.Mensaje</p>
<p><a href="/Home/Registro">No esta registrado? Registrese!</a></p>